.central-screen {
  width: 100%;
  min-height: 650px;
  margin-top: 0;
  margin-bottom: auto;
  background: url("../img/background/central-background-desktop@1x.jpg") center/cover no-repeat,
    linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;

  @supports (background: url("../img/background/central-background-desktop@1x.webp")) {
    background: url("../img/background/central-background-desktop@1x.webp") center/cover no-repeat,
      linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/background/central-background-desktop@2x.jpg") center/cover no-repeat,
      linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
  }

  @supports (background: url("../img/background/central-background-desktop@2x.webp")) {
    background: url("../img/background/central-background-desktop@2x.webp") center/cover no-repeat,
      linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
  }
}

.central-screen__description {
  min-width: 823px;
  max-width: 973px;
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.central-screen__description h1 {
  width: 100%;
  margin: 0;
  margin-top: 269px;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: $color-alice-blue;
  text-align: left;
}

.central-screen__description p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.5px;
  color: $color-alice-blue;
  text-align: left;
}

.central-screen br {
  display: none;
}

@media (max-width: ($vp-1024 - 1px)) {
  .central-screen {
    min-height: 638px;
    background: url("../img/background/central-background-tablet@1x.jpg") center/cover no-repeat,
      linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;

    @supports (background: url("../img/background/central-background-tablet@1x.webp")) {
      background: url("../img/background/central-background-tablet@1x.webp") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background: url("../img/background/central-background-tablet@2x.jpg") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }

    @supports (background: url("../img/background/central-background-tablet@2x.webp")) {
      background: url("../img/background/central-background-tablet@2x.webp") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }
  }

  .central-screen__description {
    min-width: 680px;
    padding-left: 0;
  }

  .central-screen__description h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .central-screen__description p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .central-screen {
    min-height: 500px;
    background: url("../img/background/central-background-mobile@1x.jpg") center/cover no-repeat,
      linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;

    @supports (background: url("../img/background/central-background-mobile@1x.webp")) {
      background: url("../img/background/central-background-mobile@1x.webp") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background: url("../img/background/central-background-mobile@2x.jpg") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }

    @supports (background: url("../img/background/central-background-mobile@2x.webp")) {
      background: url("../img/background/central-background-mobile@2x.webp") center/cover no-repeat,
        linear-gradient(180deg, rgba(0, 61, 120, 1) 100%, rgba(0, 61, 120, 1) 100%) center/cover no-repeat;
    }
  }

  .central-screen__description {
    min-width: 295px;
    padding-left: 0;
    padding-right: 0;
  }

  .central-screen__description h1 {
    margin-top: 175px;
    font-size: 36px;
    line-height: 45px;
  }

  .central-screen__description p {
    font-size: 16px;
    line-height: 22.5px;
  }

  .central-screen br {
    display: block;
  }
}
