.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contacts__map {
  grid-column: 1/2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contacts__interactive-map {
  width: 100%;
  min-width: 324px;
  height: 306px;
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
}

.contacts__const-image-wrap {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -2;
}

.contacts__map img,
.contacts__map picture {
  width: 100%;
  height: 306px;
  display: block;
  object-fit: cover;
}

.contacts__text {
  margin: 0 0 0 auto;
  display: flex;
  grid-column: 2/3;
}

.contacts__text-inner-wrap {
  height: min-content;
  max-width: 500px;
  margin: auto auto auto 0;
  padding-right: 10px;
  padding-top: 22px;
}

.contacts__text b {
  max-width: 500px;
  margin: 0 auto 32px 0;
  padding: 0;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-tangaroa;
  text-align: left;
}

.contacts__text span,
.contacts__text a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-tangaroa;
  text-align: left;
}

.contacts__text a {
  width: max-content;
  margin-bottom: 20px;
  display: flex;
  text-decoration: none;
}

.contacts__text p {
  max-width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts__text a:hover span {
  color: $color-curious-blue;
}

.contacts__text a:hover svg {
  fill: $color-curious-blue;
}

.contacts__text br {
  display: none;
}

.contacts__text svg {
  margin-right: 10px;
  display: block;
  fill: $color-tangaroa;
}

.contacts__address svg {
  flex-shrink: 0;
}

@media (max-width: ($vp-1024 - 1px)) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contacts__wrap {
    gap: 30px;
  }

  .contacts__text-inner-wrap {
    padding-top: 12px;
  }

  .contacts__text-promt br {
    display: none;
  }

  .contacts__map img,
  .contacts__map picture {
    min-width: 324px;
    height: 335px;
  }

  .contacts__address svg {
    width: 18px;
    height: 22px;
  }

  .contacts__text b {
    margin-bottom: 27px;
  }

  .contacts__address br {
    display: block;
  }

  .contacts__text svg {
    margin-top: 5px;
  }

  .contacts__interactive-map {
    height: 335px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .contacts {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .contacts__wrap {
    display: flex;
    flex-direction: column;
  }

  .contacts__map {
    padding-top: 5px;
    order: 2;
  }

  .contacts__text-inner-wrap {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 0;
  }

  .contacts__interactive-map {
    min-width: 290px;
    height: 316px;
  }

  .contacts__text {
    width: 100%;
    margin: 0 auto;
  }

  .contacts__map img,
  .contacts__map picture {
    min-width: 290px;
    height: 316px;
  }

  .contacts__text span br {
    display: block;
  }

  .contacts__text b {
    margin-bottom: 29px;
  }
}
