.user-navigation {
  display: flex;
  max-width: calc(100% - 130px);
}

.user-navigation__list {
  margin: auto 0 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  max-width: 1080px;
  list-style-type: none;
}

.user-navigation--bottom .user-navigation__list {
  margin-top: 10px;
  margin-bottom: auto;
}

.user-navigation__item {
  margin-left: 33px;
  padding-bottom: 10px;
}

.user-navigation__item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: $color-alice-blue;
  text-decoration: none;
  cursor: pointer;
}

.user-navigation--bottom a {
  color: $color-alice-blue;
}

.user-navigation__item:first-child {
  margin-left: 25px;
}

.user-navigation--bottom {
  max-width: calc(100% - 226px);
  margin-right: 25px;
}

.user-navigation__item a:hover {
  color: $color-quartz;
}

@media (max-width: ($vp-1024 - 1px)) {
  .user-navigation {
    max-width: calc(100% - 128px);
  }

  .user-navigation--bottom {
    max-width: calc(100% - 215px);
  }

  .user-navigation--bottom .user-navigation__list {
    margin-top: 0;
  }

  .user-navigation__item a {
    font-size: 14px;
    line-height: 17px;
  }

  .user-navigation--bottom a {
    font-size: 12px;
    line-height: 14.5px;
  }

  .user-navigation__item,
  .user-navigation--bottom .user-navigation__item {
    margin-left: 23px;
  }

  .user-navigation--bottom .user-navigation__item:first-child {
    margin-left: 15px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .user-navigation__list {
    flex-direction: column;
    color: $color-tangaroa;
    z-index: 10;
  }

  .user-navigation__item {
    margin-bottom: 10px;
  }

  .user-navigation__item a {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }

  .user-navigation--bottom ul {
    margin: 0 auto 0 0;
  }

  .user-navigation--bottom .user-navigation__item {
    margin: 0 auto 0 0;
    padding-bottom: 0;
  }

  .user-navigation--bottom .user-navigation__item:first-child {
    margin-left: 0;
  }

  .user-navigation--bottom .user-navigation__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .user-navigation--bottom a {
    font-size: 12px;
    line-height: 14.5px;
    color: $color-alice-blue;
  }
}
