.voyage {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 145px;
}

.voyage__outer-wrap {
  height: min-content;
  margin: 0 auto;
  display: flex;
  gap: 25px;
}

.voyage__inner-wrap {
  max-width: 520px;
}

.voyage h2 {
  margin-top: 57px;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: $color-tangaroa;
  text-align: left;
}

.voyage p {
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-tangaroa;
  text-align: left;
}

.voyage img,
.voyage picture {
  width: 100%;
  height: auto;
  max-width: 560px;
  max-height: 301px;
  margin-left: auto;
  display: block;
}

@media (max-width: ($vp-1024 - 1px)) {
  .voyage {
    padding-top: 90px;
    padding-bottom: 92px;
  }

  .voyage h2 {
    width: 220px;
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 26px;
    line-height: 36.5px;
  }

  .voyage img,
  .voyage picture {
    min-width: 324px;
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .voyage {
    padding-top: 55px;
    padding-bottom: 85px;
  }

  .voyage img,
  .voyage picture {
    min-width: 290px;
  }

  .voyage__outer-wrap {
    flex-direction: column;
  }

  .voyage__inner-wrap {
    margin: 0 auto;
  }

  .voyage h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33.5px;
  }

  .voyage p {
    width: 100%;
    margin-bottom: 16px;
  }

  .voyage img,
  .voyage picture {
    margin: 0 auto;
  }
}
