.main-header {
  width: 100%;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-alice-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.main-header__inner-wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.main-header__focus-trap {
  display: none;
}

@media (max-width: ($vp-1024 - 1px)) {
  .main-header__inner-wrap {
    padding-top: 30px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-header__logo-toggle-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-header__inner-wrap {
    padding-top: 20px;
  }

  .main-header--nav-opened .main-header__inner-wrap {
    width: calc(100% - 35px);
    min-width: 285px;
    min-height: 568px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: $color-alice-blue;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }

  .main-header__page-overlay {
    display: none;
  }

  .main-header--nav-opened .main-header__page-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 43, 102, 0.5);
    display: block;
    z-index: 10;
  }

  .main-header--nav-opened .main-header__focus-trap {
    display: block;
  }

  .main-header--nav-opened .main-header__logo-toggle-wrap {
    margin-bottom: 43px;
  }

  .main-header--nav-opened .main-header__navigation {
    display: block;
    margin-bottom: auto;
  }

  .main-header--nav-opened .main-header__navigation-list {
    margin: 0 auto 0 0;
  }

  .main-header--nav-opened li {
    margin-left: 10px;
    margin-bottom: 28px;
  }

  .main-header--nav-opened li:first-child {
    margin-left: 10px;
  }

  .main-header--nav-closed .main-header__navigation {
    display: none;
  }

  .main-header--nojs {
    position: static;
  }

  .main-header--nojs .main-header__toggle {
    display: none;
  }

  .main-header--nojs .main-header__inner-wrap {
    width: 100%;
    min-height: 180px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: $color-alice-blue;
    color: $color-tangaroa;
    position: static;
    z-index: 10;
  }

  .main-header--nojs .main-header__navigation {
    display: block;
    margin-bottom: auto;
  }

  .main-header--nojs a {
    color: $color-tangaroa;
  }

  .main-header--nojs .main-header__focus-trap {
    display: none;
  }
}
