.main-header {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-alice-blue;
  //z-index: 10;
  background-image: url("../img/background/central-background-desktop@1x.jpg") center/cover no-repeat;

  @supports (background-image: url("../img/background/central-background-desktop@1x.webp")) {
    background: url("../img/background/central-background-desktop@1x.webp") center/cover no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/central-background-desktop@2x.jpg") center/cover no-repeat;
  }

  @supports (background-image: url("../img/background/central-background-desktop@2x.webp")) {
    background-image: url("../img/background/central-background-desktop@2x.webp") center/cover no-repeat;
  }

  background-color: $color-prussian-blue;
}

.main-header__inner-wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: ($vp-1024 - 1px)) {
  .main-header {
    background-image: url("../img/background/central-background-tablet@1x.jpg") center/cover no-repeat;

    @supports (background-image: url("../img/background/central-background-tablet@1x.webp")) {
      background: url("../img/background/central-background-tablet@1x.webp") center/cover no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/central-background-tablet@2x.jpg") center/cover no-repeat;
    }

    @supports (background-image: url("../img/background/central-background-tablet@2x.webp")) {
      background-image: url("../img/background/central-background-tablet@2x.webp") center/cover no-repeat;
    }
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-header {
    background-image: url("../img/background/central-background-mobile@1x.jpg") center/cover no-repeat;

    @supports (background-image: url("../img/background/central-background-mobile@1x.webp")) {
      background: url("../img/background/central-background-mobile@1x.webp") center/cover no-repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/central-background-mobile@2x.jpg") center/cover no-repeat;
    }

    @supports (background-image: url("../img/background/central-background-mobile@2x.webp")) {
      background-image: url("../img/background/central-background-mobile@2x.webp") center/cover no-repeat;
    }
  }

  .main-header__logo-toggle-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-header--nav-opened .main-header__inner-wrap {
    width: calc(100% - 35px);
    min-height: 526px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: $color-alice-blue;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .main-header--nav-opened .main-header__logo-toggle-wrap {
    margin-bottom: 33px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header--nav-opened .main-header__navigation {
    display: block;
    margin-bottom: auto;
  }

  .main-header--nav-closed .main-header__navigation {
    display: none;
  }
}
